.cr-portfolio {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-align: center;
    /* background-color: rgba(202, 202, 202, 0.3); */
    width: 800px;
}

.cr-skill-tag {
    display: block;
    float: left;
    background-color: lightblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    
}

.cr-portfolio-item {
    background-color: rgba(silver,0.7);
    border: 2px solid black;
    width: 460px;
    padding: 10px;
    float: left;
    margin: 10px;
 
}

.cr-portfolio-list {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
    margin: auto;
    display: grid;  //Change to grid for small screens (flex)
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.clear {
    display: none;
    float: none;
}

.cr-portfolio-main {
    background-color: rgba(107, 121, 245, 0.3);
    height: calc(100vh - 60px);
    margin:0;
    padding-top: 20px;
}