<div class="cr-portfolio-main">

        

<!-- <div class="cr-portfolio">
        <h1>
                Portfolio
            </h1>
        </div> -->

  <!--   On the left you can find information about projects I have worked on. 
    They are all presentated with a brief description and tagged with some of the tools used during these projects.
    Links to the actual webpage as well as links to corresponding gitHub repository is also attached.
 -->



            
 <div class="cr-portfolio-list">
        <div class="cr-portfolio-item" *ngFor='let item of portfolio'>
            <h3>{{item.name}}</h3>
            <img class="cr-thumb" [src]='item.thumb' width="420px">
            <div><p>{{item.description}}</p></div>
            <div><i class="fas fa-link" style="margin-right:3px;"></i><a href="{{item.url}}">Visit Webpage</a></div>
            <div><i class="fab fa-github" style="margin-right:3px;"></i> <a href="{{item.git}}">Look at source code</a></div>
            <div class="cr-skill-tag" *ngFor='let skill of item.tags'>
                {{skill}}
            </div>
            <div class="clear"></div>
        </div>
</div>

</div>