$bgheader: rgba(202, 202, 202, 0.7);
$bgmain: rgba(202, 202, 202, 0.3);

.cr-navbar {
    background-color: $bgheader;
    color: black;
    border-bottom: 2px solid gray;
    padding-top:5px;
        a:link, a:visited, a:active {
        color: black;
        }
    }

#underscore {
    transition: transform .5s ease-in-out;
}
.cr-linkBar {
    width:100%;
    height: 2px;
    background-color:gray;
    margin-top:-10px;
}

.cr-header-center {
    margin: auto;
    text-align: left;
    width: 300px;
}

.cr-header-link {
    width: 100px;
    text-align: center;
    display: block;
    float: left;

}

.cr-footer {
    background-color: $bgheader;
    color: black;
    border-top: 2px solid gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.cr-footer-left {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    height: 100%;
    text-align: left;
    padding-left: 10px;
}

.cr-footer-right {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 200px;
    height: 100%;
    text-align: right;
    padding-right: 10px;
}

.cr-main {
    background-color: $bgmain;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 80px;
    width: 98%;
    /* height: 98vh; */
    
    
}

.cr-all {
    width: 100%;
    height: 100%;
}

.cr-nav-link {
    padding: 5px;
}

.active {
    a:link, a:visited, a:active {
        color: red;
        }
}