<!--The content below is only a placeholder and can be replaced.-->
<!-- A grey horizontal navbar that becomes vertical on small screens -->


<!-- <nav class="navbar navbar-expand-sm cr-navbar"> -->
  
  <!-- Links -->
  
  <div class="cr-all">
  <div class="cr-navbar">
  <div class="cr-header-center">
      <span class="cr-header-link">
        <a class="cr-nav-link" routerLink="/welcome" (click)="drawCanvas('welcome')">Home</a>
      </span>
      <span class="cr-header-link">
          <a class="cr-nav-link" routerLink="/about" (click)="drawCanvas('about')">About Me </a>
      </span>
      <span class="cr-header-link">
        <a class="cr-nav-link" routerLink="/portfolio" (click)="drawCanvas('portfolio')">Portfolio</a>
      </span>
  <svg class="cr-linkBar">
          <rect id="underscore" x="0" y="0" width="33%" height="2" />
  </svg>
  </div>
</div>

<!-- <nav>
    <a routerLink="/welcome" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
  </nav> -->

  <div class="cr-main">
  <main [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>


<!-- <div class="cr-main">
  
<router-outlet></router-outlet>
</div> -->
  
<!-- footer -->

<!-- <div class="cr-footer">
  <span class="cr-footer-left">
    http://www.chrisryas.com<br>
    christofer.ryas@gmail.com
  </span>
  <span class="cr-footer-right">
    &copy; Christofer Ryås<br>
    2018-11-21
  </span>
</div> -->


</div> 
