<div class="cr-contact"> 
       <div class="cr-contact-content">

        <h1>
        Contact me
        </h1>
       <p>As I am currently employed as an IT-consultant by Academic Work any enquiries about hiring me should first go through them.</p>
       <p>
           For more information or any other questions please feel free to contact me.
        </p>

        <p>
                <a href="/assets/pdf/cv_ryas.pdf" target="_blank">My full CV in pdf-format</a>
        </p>
       <div class="cr-icons">
       <span style="font-size: 3em; color: brown;">
            <i class="far fa-envelope"></i>
        </span>
        <span style="font-size: 3em; color: brown;">
            <i class="fab fa-linkedin"></i>
        </span>
        <span style="font-size: 3em; color: brown;">
            <i class="fas fa-phone"></i>
        </span>
    </div>
       
    </div>
</div>