<div class="cr-welcome cr-top">
    <div class="cr-welcome-text">
        <h1>
        Christofer Ryås
        </h1>
        <p>Scroll down to see why you should hire me</p>
    </div>
</div>

<div class="cr-welcome-lower">
<div class="cr-second cr-grid-item">
    <div class="cr-welcome-content">
        <div class="cr-second-text">
            <h2>My story as a developer</h2>
       <p>I got my first experience in development 20 years ago when I was twelve years old and coding HTML-pages in notepad.
           Since then I've encountered programming in different phases of my education, mainly C and Matlab. 
       </p>
       <p>
           In the fall of 2017 I wrote a thesis work where a big part of the job was done in Matlab. This got me hooked on programming again
           and I decided to apply to Academy's class in C#.NET during the spring of 2018. Since this course finished I've focused on extending my knowledge
           on a few different topics, for example Unit Testing, Xamarin and Angular.
       </p>
    </div>
    </div>
</div>

<div class="cr-third cr-grid-item">
    <div class="cr-welcome-cv">
            <div class="cr-welcome-cv-text">
        <h2>Education</h2>
        <div class="cr-cv-item" *ngFor='let item of myCv.education'>

            <span class="cr-cv-header">
                <h4>{{item.startDate}} - {{item.endDate}}, {{item.course}}, {{item.issuer}}</h4>
            </span>
            <span>
                <p>{{item.description}}</p>
            </span>
        </div>
        </div>
    </div>
</div>

<div class="cr-third cr-grid-item">
        <div class="cr-welcome-cv">
                <div class="cr-welcome-cv-text">
                <h2>Experience</h2>
                <div class="cr-cv-item" *ngFor='let item of myCv.experience'>
        
                    <span class="cr-cv-header">
                        <h4>{{item.startDate}} - {{item.endDate}}, {{item.title}}, {{item.company}}</h4>
                    </span>
                    <span>
                        <p>{{item.description}}</p>
                    </span>
                </div>
                <a href="/assets/pdf/cv_ryas.pdf" target="_blank">My full CV in pdf-format</a>
                </div>
            </div>
</div>

<div class="cr-fourth cr-grid-item">
        <div class="cr-welcome-content">
            <div class="cr-second-text">
                <h2>My experience in other areas</h2>
           <p>I moved to Umeå in 2005 to study Engineering Physics and did so until 2012. When our new student union house was built in 2007 alot of my free time was spent working
               there. This eventually lead to me taking a full year off being enployed to run the place and being in charge of all the volunteer workers.
           </p>
           <p>
               After my studies I began working with Oil and Gas Exploration for a norwegian company. This work took place offshore on a few different vessels in waters all over the world.
               The crew onboard were from many different countries, cultures and educational background. The work was sometimes fast paced while still focusing a lot on safety.
               Overall the work gave me a lot of experience that I believe can be very useful in any field of work.
           </p>
        </div>
        </div>
    </div>
</div>



<!-- <div class="cr-welcome-main">
        <div class="cr-welcome cr-left">
            <h2>left</h2>
        </div>

        <div class="cr-welcome cr-right">
            <img src="/assets/img/cv-ryas-1.png" width=200px style="margin:0px;">
        </div>
        
</div> -->