.cr-welcome {
    width: 47%;
    height: 90%;
    border: 2px solid gray;
    padding-bottom: 0px;
}

.cr-left {
    margin-left: 2%;
    float: left;
}

.cr-right {
    margin-right: 2%;
    float: right;
}

.cr-welcome-main{
    display: flex;
    justify-content: center;
}